/* 共通 */

html {
    font-size: 100%;
}

body {
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #413689;
    color: white;
    font-family: Arial, sans-serif;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    gap: 5px;
}

.index {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 12px;
}

#black-score,
#white-score {
    font-size: 30px;
    /* 数字を大きく */
    font-weight: bold;
    /* 太くして見やすく */
}

.black-name,
.white-name {
    font-size: 32px;
    font-weight: bold;
}

#black-turn,
#white-turn {
    font-size: 32px;
    font-weight: bold;
}

.close {
    color: #000;
}

/* 石のデザイン */

.black {
    background-color: black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    transform: translate(-50%, -50%);
}

.white {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* ヒントを石と同じサイズに */

#board .hint {
    background-color: rgba(255, 255, 0, 0.6);
    /* 半透明の黄色 */
    border: 2px double red;
}

/* ボタンのデザイン */

#reset-button {
    padding: 3px 0;
    width: 150px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: darkred;
    color: #fff;
}

#pass-button {
    background-color: white;
    color: #333;
    padding: 8px;
    line-height: 1.3;
    border-radius: 50%;
    font-weight: 500;
    margin-left: 15px;
}

/* 左の列 */

.left {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.black-label {
    font-size: 35px;
    margin-bottom: 5px;
    cursor: default;
    user-select: none;
}

/* 真ん中の列 */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#indicator {
    color: bisque;
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
}

#board {
    margin-bottom: 15px;
    border-collapse: collapse;
    /* セルとセルの間をなくす */
    border: 2px solid black;
    /* 盤面の外枠 */
    z-index: 1;
}

/* 盤面のセルの基本スタイル */

#board td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    background-color: green;
    /* 盤面の色 */
    position: relative;
}

#turn-info {
    font-size: 2rem;
    margin-top: 10px;
}

/* 右の列 */

.right {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-label {
    font-size: 30px;
    margin-bottom: 5px;
    cursor: default;
    user-select: none;
}

/* メニュー画面 */

#menu-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 20;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#menu {
    padding: 20px 0;
    width: 120px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: #333;
    border-radius: 50%;
    font-weight: 500;
    line-height: 1.3;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 100px;
}

.backButton {
    display: flex;
    align-items: center;
    gap: 2px;
}

#back {
    display: block;
    position: relative;
    background-color: red;
    width: 25px;
    height: 25px;
}

#back::before,
#back::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 35px;
    background: #fff;
    top: 50%;
    left: 50%;
}

#back::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#back::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#cpu {
    padding: 3px 0;
    width: 150px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: darkred;
    color: #fff;
}

@media (max-width: 500px) {

    body {
        height: 100dvh;
        width: 100dvw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: #413689;
        color: white;
        font-family: Arial, sans-serif;
    }

    #indicator {
        color: bisque;
        font-size: 25px;
        font-weight: bold;
    }

    #board td {
        width: 45px;
        height: 45px;
        text-align: center;
        border: 2px solid black;
        background-color: green;
        /* 盤面の色 */
        position: relative;
    }

    #black-score,
    #white-score {
        font-size: 25px;
        font-weight: bold;
    }

    .black-name,
    .white-name {
        font-size: 14px;
        font-weight: bold;
    }

    #black-turn,
    #white-turn {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    #turn-info {
        margin-top: 0;
        font-size: 1.3rem;
    }

    .center {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .left {
        position: fixed;
        top: 30px;
        left: 30px;
    }

    .right {
        position: fixed;
        top: 30px;
        right: 30px;
    }

    #menu {
        right: -60px;
    }
}
